{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard - EventHive</title>
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <link rel="icon" href="{% static 'images/EventHive.png' %}" type="image/png">                   
</head>
<body>
    <div class="admin-dashboard-wrapper">
        <header class="admin-dashboard-header">
            <div class="admin-logo-header">
                <img src="{% static 'images/EventHive.png' %}" alt="EventHive Logo" class="admin-logo-img">
                <span class="admin-logo-text">EventHive Admin</span>
            </div>
            <div class="admin-header-right">
                <p class="welcome-text">Welcome, {{ request.user.username }}</p>
                <form action="{% url 'logout' %}" method="post" class="logout-form">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>

        </header>

        <div class="dashboard-content-row">
            <div class="dashboard-card">
                <h2>Events</h2>
                <p class="card-count">{{ events.count }}</p>
                <a href="{% url 'admin-event-list' %}" class="dashboard-link">View Events</a>
            </div>

            <div class="dashboard-card">
                <h2>Registered Users</h2>
                <p class="card-count">{{ users.count }}</p>
                <a href="{% url 'admin-registered-users' %}" class="dashboard-link">View Users</a>
            </div>

            <div class="dashboard-card">
                <h2>Registered Bookings</h2>
                <p class="card-count">{{ total_registered_bookings }}</p>
                <a href="{% url 'admin-registered-bookings' %}" class="dashboard-link">View Bookings</a>
            </div>

            <div class="dashboard-card">
                <h2>QR Bookings</h2>
                <p class="card-count">{{ qr_users.count }}</p>
                <a href="{% url 'admin-qr-bookings' %}" class="dashboard-link">View Bookings</a>
            </div>
        </div>
    </div>
</body>
</html>
