{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.name }}</title>
    <link rel="stylesheet" href="{% static 'css/eventpk.css' %}">
</head>
<body>
<div class="event-detail-container">
    
    <div class="back-container">
        <a href="{% url 'event'  %}">
            <button class="back-btn">← Back</button>
        </a>
    </div>
    
    <div class="event-detail-card">
        <div class="event-logo-header">
            <img src="{% static 'images/EventHive.png' %}" alt="EventHive Logo" class="event-logo-img">
            <span class="event-logo-text">EventHive</span>
        </div>

        {% if event.image %}
            <img src="{{ event.image.url }}" alt="{{ event.name }}" class="event-main-image">
        {% endif %}

        <h1>{{ event.name }}</h1>
        <p>{{ event.description }}</p>
        <p><strong>Date:</strong> {{ event.date }}</p>
        <p><strong>Location:</strong> {{ event.location }}</p>
        <p><strong>Organizer:</strong> {{ event.organizer }}</p>
        <p><strong>Available Seats:</strong> {{ event.available_seats }}</p>
        <p><strong>Price:</strong> ₹ {{ event.fees }}</p>

        <a href="{% url 'booking-form' event.event_id %}">
            <button class="book-btn">Book Now</button>
        </a>
    </div>
</div>

</body>
</html>
