{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{%static 'css/login_register.css'%}">
</head>
<body>
    <div class="login-wrapper">
        <header class="main-header">
            EventHive
        </header>

        <div class="login-container">
            <h2>Login</h2>
            {% if errors %}
                <div class="error-messages">
                        {% for field, error_list in errors.items %}
                            {% for error in error_list %}
                                <p><strong>{{ field }}:</strong> {{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                </div>
            {% endif %}
            {% if messages %}
                 <p class="success-message">{{ message }}</p>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>

                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>

                <button type="submit">Login</button>

                <p style="text-align: center; margin-top: 15px; color: white;">Don't have an account?
                    <a href="{% url 'register' %}" style="color: #4CAF50; text-decoration: none; ">Register</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>