{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="{%static 'css/login_register.css'%}">
</head>
<body>
    <div class="admin-login-container">
        <form action="{% url 'admin:login' %}" method="get">
            <button type="submit">Admin Login</button>
        </form>
    </div>

    <div class="register-wrapper">
        <div class="event-logo-header">
                <img src="{% static 'images/EventHive.png' %}" alt="EventHive Logo" class="event-logo-img">
                <span class="event-logo-text">EventHive</span>
        </div>
        <div class="register-container">
            <h2>Register</h2>

            {% if errors %}
                <div class="error-messages">
                        {% for field, error_list in errors.items %}
                            {% for error in error_list %}
                                <p><strong>{{ field }}:</strong> {{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name">

                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name">

                <label for="username">Username</label>
                <input type="text" name="username" id="username">

                <label for="email">Email</label>
                <input type="email" name="email" id="email">

                <label for="password">Password</label>
                <input type="password" name="password" id="password">

                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password">

                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>
